{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Accueil{% endblock %}

{# Contenu de la page #}
{% block body %}
    <h1>Acceuil</h1>
{% endblock %}

{# Fichiers CSS individuels de la page #}
{% block stylesheets %}

{% endblock %}