{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Accueil{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid">

    <div class="row">
        <h1 class="col-12 text-center my-5">Bourgui BOOK</h1>
    </div>
</div>

{% endblock %}

{# Fichiers CSS individuels de la page #}
{% block stylesheets %}

{% endblock %}