{# Cette page utilise le squelette base.html.twig #}
{% extends 'base.html.twig' %}

{# Remplissage du block title avec le titre de la page #}
{% block title %}Profil{% endblock %}

{# Remplissage du block body avec le contenu de la page #}
{% block body %}

    <div class="container-fluid">
        {# H1 #}
        <div class="row">
            <h1 class="col-12 text-center my-4 text-white">Gestion du profil</h1>
        </div>

        {# Info profil #}

        <div class="row">
            <ul class="pr-0 my-3 col-12 offset-0 col-md-6 offset-md-3 list-group rp-0 border-style">
                <li class="list-group-item list-group-item-dark">Pseudonyme : <span class="text-dark">{{ app.user.pseudonym }}</span></li>
                <li class="list-group-item list-group-item-dark">Adresse Email : <span class="text-dark">{{ app.user.email }}</span></li>
                <li class="list-group-item list-group-item-dark">Numéro de télephone : <span class="text-dark">0{{ app.user.phoneNumber }}</span></li>
                <li class="list-group-item list-group-item-dark">Compte : <span class="text-dark">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Membre' }}</span></li>
            </ul>
        </div>
    </div>

{% endblock %}