{% extends 'base.html.twig' %}

{% block title %}Erreur 404 : Page Introuvable{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div clas="col-12 text-cente my-4">
                <img src="{{ asset('images/404.png') }}" alt="Erreur 404 : page introuvable" class="img-fluid m-3">
            </div>
        </div>
    </div>
{% endblock %}