{% extends 'base.html.twig' %}

{% block title %}Erreur 403 : Accès Interdite{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div clas="col-12 text-cente my-4">
                <img src="{{ asset('images/403.jpg') }}" alt="Erreur 403 : accès interdit" class="img-fluid m-3">
            </div>
        </div>
    </div>
{% endblock %}